.lables  {
    font-size: 15px;
}

h2 {
    color: rgb(146, 146, 163);
    text-align: center;
    width: 100%;
}

.key {
    font-size: 10 px;
}

ul li {
    display: flex;
    flex-direction: column;
    text-align: start;
}
@media (max-width: 1200px) {
    ul li {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .chart-title {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .chart-title {
        font-size: 12px;
    }
    .key {
        font-size: 6 px;
        width: 250px;
        padding-left: 3em;
    }
}