.entry {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .8); 
    color: rgb(0, 0, 0);
    border-radius: 3rem;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.paragraph-display {
    font-size: 18px;
    white-space: pre-wrap;
}

.sf-photos {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    padding-bottom: 3em;
    /* border-radius: 4em; */
    opacity: .8;
    width: 500px;
    height: 350px;
}

@media (max-width: 1200px) {
    .paragraph-display {
        font-size: 15px;
    }
    .links {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .paragraph-display {
        font-size: 10px;
    }
    .links {
        font-size: 10px;
    }
    .sf-photos {
        width: 350px;
        height: 200px;
    }
}