.entry {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .8); 
    color: rgb(0, 0, 0);
    border-radius: 3rem;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    width: 75%;
}

.paragraph-display {
    font-size: 18px;
}