.nav-bar {
    padding-top: 1px;
    padding-left: 6em;
}

.nav-item {
    display: inline;
    padding: 1em;
    list-style: none;
    justify-content: space-around;
} 

.nav-item:hover {
    text-decoration: underline;
    /* color: rgb(157, 139, 157) */
}

li {
    /* margin-top: 15%; */
    color: rgb(56, 56, 62);
    display: inline;
    /* padding: 1em; */
    font-size: 20px;
    text-align: center;
}

@media (max-width: 768px) {
    .nav-item {
        padding: 1em;
    }
    ul li{
        font-size: 12px;
    }
}

@media (max-width: 665px) {
    .nav-bar {
        padding: 0em;
    }
    .nav-item { 
        padding: 0.35em;
    }
}

@media (max-width: 480px) {
    .nav-item { 
        padding: .4em;
    }
    ul li{
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .nav-item { 
        padding:0.25em;
    }
    ul li{
        font-size: 9px;
    }
}