.nav-bar {
    /* background-image: url(../assets/HeaderImage.png);
    background-repeat: no-repeat;
    background-size: cover;  */
    padding: 4px;
}

.nav-item {
    
    display: inline;
    padding: 1em;
    list-style: none;
    justify-content: space-around;
} 

.nav-item:hover {
    text-decoration: underline;
}

li {
    text-align: center;
    /* margin-top: 15%; */
    color: rgb(56, 56, 62);
    display: inline;
    /* padding: 1em; */
    font-size: 20px;
    text-align: center;
}

