.dictionary {
    padding-left: 10em;
    
}

.epa-link {
    padding: 3em;

}

html {
    background-image: url(./assets/BackgroundImage2.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* height: 100%;
    width: 100%; */
} 

h1 {
    color: rgb(146, 146, 163);
    text-align: center;
}

h1:hover {
    color:rgb(8, 148, 41)
}

h2 {
    color: rgb(146, 146, 163);
    text-align: center;
    width: 100%;
    
    
    /* background-color: rgb(239, 235, 243); */
}

.images {
    height: 100%;
    width: 100%;
    
}

.info-graphics {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    flex-shrink: 3;

}

.instructions-container {
    /* background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6);
    border-radius: 3rem; */
    padding: 3rem;
    max-height: 750px;
    max-width: 500px;
}

.le-graph {
    height: 450px;
    width: 725px;
}

.le-graph-container {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6);
    border-radius: 3rem;
    padding:3em;
    /* padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em; */
    height: auto;
    width: auto;
    max-width: 775px;
    max-height: 500px;
}

.map-container {
    display: flex;
    justify-content: space-around;
    padding: 3em;
}

.map-display {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6); 
    border-radius: 5rem;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    width: min-content;
}

.pie-container {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6); 
    border-radius: 3rem;
    padding: 3em;
    width: 775px;
    height: 500px;
}