#root {
    background-image: url(./assets/BackgroundImage.png);
    background-attachment: fixed;
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    max-width:1200px; 
    /* min-width:1000px; */
    /* max-height: 800px; */
    margin-left: auto;
    margin-right: auto;

}

.about {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .8); 
    color: rgb(0, 0, 0);
    border-radius: 3rem;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.about-section {
    margin-left: 80px;
    flex-direction: row;
    justify-content: space-between; 


}

.about-creators {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .8); 
    color: rgb(0, 0, 0);
    margin-left: 80px;
    border-radius: 3rem;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.app {
    max-width: 1000px;
    min-width:1000px;
    min-height: auto;
    margin-left: auto;
    margin-right: auto;
    /* max-width: 1000px;
    margin-left: auto;
    margin-right: auto; */
}

.dictionary {
    padding-left: 10em;
    
}

.epa-link {
    padding: 3em;

}

h2 {
    color: rgb(146, 146, 163);
    text-align: center;
    width: 100%;
    
    
    /* background-color: rgb(239, 235, 243); */
}
.bar-graph-container {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6);
    border-radius: 3rem;
    padding: 3em;
    height: auto;
    width: auto;
    white-space: pre-wrap;
    margin-left: 145px; 
    /* max-width: 775px;
    max-height: 500px; */
}

.map-container {
    display: flex;
    justify-content: space-around;
    padding: 1em;
    resize: both;
}

.map-display {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6); 
    border-radius: 5rem;
    padding-top: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 3em;
    width: min-content;
    max-width: 800px;
    margin-left: 80px;
    
}

/* .pie-container {
    background-color: rgb(238, 238, 238);
    background-color: rgba(238, 238, 238, .6); 
    border-radius: 3rem;
    padding: 3em;
    width: 775px;
    height: 500px; 
}*/

.profile-pictures {
    /* display: inline-flex; */
    /* flex-direction: row; */
    /* justify-content: space-between; */
    width: 100%;
    transform:scale(1.4);
    margin-top:12px;
    opacity: .8;
}

.profile-pictures--mask {
    display: inline-flex;
    justify-items: space-between;
    width: 100px;
    height:100px;
    border-radius: 50%;
    overflow:hidden;
    box-shadow: 0 8px 16px rgb(0,0,0);
    margin-bottom: 30px;
    margin-left: 150px;
    margin-right: 50px;

}

#map-content {
    display: flex;
    justify-content: right;
    padding: 3em;
    margin-left: 50px;
}

@media (max-width: 1200px) {
    .bar-graph-container {
        width: 600px;
        height: 450px;
        padding: 1em;
        margin-left:50px;
    }
    .dictionary {
        max-width: 600px;
        
    }
}


@media (max-width: 768px) {
    #root {
        background-image: url(./assets/SmallBackground.jpg);
    }
    .bar-graph-container {
        width: 500px;
        height: 450px;
        /* padding-right: 10em; */
    }
    .dictionary {
        max-width: 500px;
        padding-right: 10em;
        
    }
}